version: "3.8"

services:
  mysql:
    image: mysql:8.0
    user: "${MYSQL_UIDGID:-mysql}"
    restart: on-failure
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      KEYCLOAK_DATABASE: "${KEYCLOAK_DATABASE}"
      KEYCLOAK_DB_USER: "${KEYCLOAK_DB_USER}"
      KEYCLOAK_DB_PASSWORD: "${KEYCLOAK_DB_PASSWORD}"
    ports:
      - "${MYSQL_HOST_PORT}:3306"
    volumes:
      - ${MYSQL_VOLUME}:/var/lib/mysql
  minio:
    image: minio/minio:RELEASE.2021-10-08T23-58-24Z
    user: "${MINIO_UIDGID:-}"
    restart: on-failure
    environment:
      MINIO_ACCESS_KEY: "${MINIO_ACCESS_KEY}"
      MINIO_SECRET_KEY: "${MINIO_SECRET_KEY}"
      MINIO_REGION_NAME: "${MINIO_REGION_NAME}"
    ports:
      - "${MINIO_HOST_PORT}:9000"
    volumes:
      - ${MINIO_VOLUME}:/data
    command: server /data
  app:
    build: flask
    image: ghcr.io/ccmbioinfo/stager:dev
    user: "${FLASK_UIDGID:-www-data}"
    environment:
      ST_SECRET_KEY: "${ST_SECRET_KEY}"
      ST_DATABASE_URI: "mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql/${MYSQL_DATABASE}"
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: "${MINIO_ACCESS_KEY}"
      MINIO_SECRET_KEY: "${MINIO_SECRET_KEY}"
      MINIO_REGION_NAME: "${MINIO_REGION_NAME}"
      ENABLE_OIDC: "${ENABLE_OIDC:-}"
      OIDC_CLIENT_ID: "${OIDC_CLIENT_ID}"
      OIDC_CLIENT_SECRET: "${OIDC_CLIENT_SECRET}"
      OIDC_WELL_KNOWN: "${OIDC_WELL_KNOWN}"
      OIDC_PROVIDER: "${OIDC_PROVIDER}"
    ports:
      - "${FLASK_HOST_PORT}:5000"
    depends_on:
      - mysql
      - minio
    volumes:
      - ./flask:/usr/src/stager
