version: "3.8"

x-common: &common
  labels:
    com.centurylinklabs.watchtower.scope: ccmbioinfo/stager
  restart: unless-stopped
  logging:
    driver: "${COMPOSE_LOG_DRIVER:-journald}"

services:
  mysql:
    image: mysql:8.0
    user: "${MYSQL_UIDGID:-mysql}"
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    volumes:
      - ${MYSQL_VOLUME}:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
    <<: *common
  minio:
    image: minio/minio:RELEASE.2021-10-08T23-58-24Z
    user: "${MINIO_UIDGID}"
    environment:
      MINIO_ACCESS_KEY: "${MINIO_ACCESS_KEY}"
      MINIO_SECRET_KEY: "${MINIO_SECRET_KEY}"
      MINIO_REGION_NAME: "${MINIO_REGION_NAME}"
    volumes:
      - ${MINIO_VOLUME}:/data
    command: server /data
    <<: *common
  app:
    build:
      context: flask
      dockerfile: ../Dockerfile
      args:
        GIT_SHA: "${GIT_SHA}"
    image: "ghcr.io/ccmbioinfo/stager:${STAGER_VERSION:-latest}"
    user: "${FLASK_UIDGID:-www-data}"
    environment:
      ST_SECRET_KEY: "${ST_SECRET_KEY}"
      ST_DATABASE_URI: "mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql/${MYSQL_DATABASE}"
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: "${MINIO_ACCESS_KEY}"
      MINIO_SECRET_KEY: "${MINIO_SECRET_KEY}"
      MINIO_REGION_NAME: "${MINIO_REGION_NAME}"
    depends_on:
      - mysql
      - minio
    <<: *common
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
      - "9000:9000"
    volumes:
      - ./react/build:/var/www/stager
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - app
      - minio
    <<: *common
  watchtower:
    image: containrrr/watchtower
    environment:
      DOCKER_CONFIG: /etc/docker
      WATCHTOWER_CLEANUP: 1
      WATCHTOWER_POLL_INTERVAL: 60
      WATCHTOWER_NOTIFICATIONS: msteams
      WATCHTOWER_NOTIFICATION_MSTEAMS_HOOK_URL: "${MSTEAMS_WEBHOOK}"
      WATCHTOWER_NOTIFICATION_MSTEAMS_USE_LOG_DATA: "true"
      WATCHTOWER_SCOPE: ccmbioinfo/stager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${DOCKER_CONFIG_DIRECTORY}:/etc/docker:ro"
    <<: *common
